body {
  background: rgba(26,25,26,1);
background: -moz-linear-gradient(left, rgba(26,25,26,1) 0%, rgba(89,89,89,1) 8%, rgba(15,15,15,1) 19%, rgba(102,102,102,1) 31%, rgba(0,0,0,1) 41%, rgba(97,94,97,1) 51%, rgba(17,17,17,1) 62%, rgba(82,80,82,1) 72%, rgba(20,19,20,1) 82%, rgba(92,87,92,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,25,26,1)), color-stop(8%, rgba(89,89,89,1)), color-stop(19%, rgba(15,15,15,1)), color-stop(31%, rgba(102,102,102,1)), color-stop(41%, rgba(0,0,0,1)), color-stop(51%, rgba(97,94,97,1)), color-stop(62%, rgba(17,17,17,1)), color-stop(72%, rgba(82,80,82,1)), color-stop(82%, rgba(20,19,20,1)), color-stop(91%, rgba(92,87,92,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(26,25,26,1) 0%, rgba(89,89,89,1) 8%, rgba(15,15,15,1) 19%, rgba(102,102,102,1) 31%, rgba(0,0,0,1) 41%, rgba(97,94,97,1) 51%, rgba(17,17,17,1) 62%, rgba(82,80,82,1) 72%, rgba(20,19,20,1) 82%, rgba(92,87,92,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(26,25,26,1) 0%, rgba(89,89,89,1) 8%, rgba(15,15,15,1) 19%, rgba(102,102,102,1) 31%, rgba(0,0,0,1) 41%, rgba(97,94,97,1) 51%, rgba(17,17,17,1) 62%, rgba(82,80,82,1) 72%, rgba(20,19,20,1) 82%, rgba(92,87,92,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(26,25,26,1) 0%, rgba(89,89,89,1) 8%, rgba(15,15,15,1) 19%, rgba(102,102,102,1) 31%, rgba(0,0,0,1) 41%, rgba(97,94,97,1) 51%, rgba(17,17,17,1) 62%, rgba(82,80,82,1) 72%, rgba(20,19,20,1) 82%, rgba(92,87,92,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(26,25,26,1) 0%, rgba(89,89,89,1) 8%, rgba(15,15,15,1) 19%, rgba(102,102,102,1) 31%, rgba(0,0,0,1) 41%, rgba(97,94,97,1) 51%, rgba(17,17,17,1) 62%, rgba(82,80,82,1) 72%, rgba(20,19,20,1) 82%, rgba(92,87,92,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a191a', endColorstr='#131313', GradientType=1 );
  color: #782CB5;
}

header {
  margin-top: 20px;
}
.logo{
  background-color: #FFDCC4;
  border-radius: 8px;
}
img {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

a {
  text-decoration: underline;
  color: green;
  margin-bottom: 30px;
}

#bannerflog img {
  height: 100px;
}
h1, p{
  color: #7CE4B4;
}
h1{
  font-size: 50px;
  font-weight: bolder;
}

textarea, input{
  width: 100%;
  border-radius: 10px;
  border: 3px solid purple;
  margin-bottom: 20px;
  border-style: none;
  padding: 6px;
  opacity: 0.6;
}
strong{
  color: #AAFEE0;
  margin-right: 600px;
  font-size: 30px;
  text-align: left;
}
.posteo {
  color: #e74bb4;
  background-color: rgba(148, 8,154, 0.74);
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
}
.posteo h2{
  color: black;
}
.posteo strong{
  display: block;
}
/*.posteo hr {
  border: 1px solid DeepPink;
}
 PARA CORAZON 
.corazon {
  font-size: 40px;
  color: gray;
  text-align: center;
}
.rojo {
  color: red;
}*/

/* PARA EJERCICIO HTML5 */
.marco-foto {
  min-height: 150px;
  border: 3px solid #43E49E;
  margin-top: 20px;
}
.boton-guardar{
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  background-color: #98DC7D;
  font-size: 20px;
  margin-left: 20px;
}